@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="app" class="page-container">
        <nav>
            <div class="NavBarWrapper">

                <div class="collapsedWrapper">
                    <div class="LogoWrapper">
                        <img src="Data/Logo.png" class="logo" alt="Logo" />
                    </div>

                    @* Toggle Button for Small Screens *@
                    <div class="navButton">
                        <button class="toggleButton" onclick="toggleNavbar()">
                            <span class="navbar-toggler-icon">☰</span>
                        </button>
                    </div>
                </div>

                <div id="navbarCollapsedWrapper" class="navbarCollapsedWrapper">
                    @*Navigation Links (hidden or shown based on screen size)*@
                    <div class="NavLinkWrapper collapsed">
                        <a href="/" class="link-bar-1">Home</a>
                        <div class="vlNav"></div>
                        <a href="/#solutions" class="link-bar-1">Solutions</a>
                        <div class="vlNav"></div>
                        <a href="/#testimonials" class="link-bar-1">Testimonials</a>
                        <div class="vlNav"></div>
                        <a href="/#about" class="link-bar-1">About</a>
                        <div class="vlNav"></div>
                        <a href="/#news" class="link-bar-1">News</a>
                        <div class="vlNav"></div>
                        <a href="/#contact" class="link-bar-1">Contact</a>
                    </div>

                    @*Login and Sign Up*@
                    <div class="NavRightWrapper collapsed">
                        @if (SignInManager.IsSignedIn(HttpContextAccessor.HttpContext.User))
                        {
                            <a href="/Manage" class="link-bar-1">Hello @UserManager.GetUserName(HttpContextAccessor.HttpContext.User)!</a>
                            <div class="vlAuth"></div>
                            <a href="/Logout" class="link-bar-1">Logout</a>
                        }
                        else
                        {
                            <a href="/Login" class="link-bar-1">Login</a>
                            <div class="vlAuth"></div>
                            <a href="/Register" class="link-bar-1">Sign Up</a>
                        }
                        @*Cart Button*@
                        <a href="/cart" class="link-bar-1"><img src="Data/Cart.jpg" class="shopping-cart-icon-1" alt="Cart" /></a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="identityLayout">
            @RenderBody()
        </div>
        
        <hr class="horizontal-line-1" />

        <div class="footerContainer">

        <div class="centerWrap">
            <p class="footerDetails">
                426A Walter Bunton St, Pretoria, 0081, South Africa
                © 2024 SpaceIQ.  All rights reserved.
            </p>
        </div>

        <div class="centerWrap">
            <hr class="horizontal-line-3" />
        </div>

        <div class="contactDetails">
            <div class="emailDetails">
                <img class="emailIcon" src="Data/Email.png" alt="Icon" />

                <p class="contactEmail">
                    Example@gmail.com
                </p>
            </div>

            <div class="phoneDetails">
                <img class="phoneIcon" src="Data/Phone.png" alt="Icon" />

                <p class="contactPhone">
                    0123456789
                </p>
            </div>
        </div>
    </div>

    <script>
        function toggleNavbar() {
            const navLinks = document.querySelector('.NavLinkWrapper');
            const navRight = document.querySelector('.NavRightWrapper');

            navLinks.classList.toggle('collapsed');
            navRight.classList.toggle('collapsed');
        }
    </script>
</body>
@RenderSection("Scripts", required: false)
</html>
