@inherits LayoutComponentBase

<PageTitle>Java and Web Development Project</PageTitle>

<div class="page-container">
    <NavMenu />

    <main class="main-content">
        @Body
    </main>

    <Footer />

</div>