@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization

<nav>
    <div class="NavBarWrapper">

        <div class="collapsedWrapper">
            <div class="LogoWrapper">
                <img src="Data/Logo.png" class="logo" alt="Logo" />
            </div>

            @* Toggle Button for Small Screens *@
            <div class="navButton">
                <button class="toggleButton" @onclick="ToggleNavbar">
                    <span class="navbar-toggler-icon">☰</span>
                </button>
            </div>
        </div>

            <div class="navbarCollapsedWrapper">
                @*Navigation Links (hidden or shown based on screen size)*@
                <div class="NavLinkWrapper @(isNavbarCollapsed ? "collapsed" : "")">
                    <NavLink href="" class="link-bar-1">Home</NavLink>
                    <div class="vlNav"></div>
                    <NavLink href="" class="link-bar-1">Solutions</NavLink>
                    <div class="vlNav"></div>
                    <NavLink href="" class="link-bar-1">Testimonials</NavLink>
                    <div class="vlNav"></div>
                    <NavLink href="" class="link-bar-1">About</NavLink>
                    <div class="vlNav"></div>
                    <NavLink href="" class="link-bar-1">News</NavLink>
                    <div class="vlNav"></div>
                    <NavLink href="" class="link-bar-1">Contact</NavLink>
                </div>

                @*Login and Sign Up*@
                <div class="NavRightWrapper @(isNavbarCollapsed ? "collapsed" : "")">
                    @if (IsUserSignedIn())
                    {
                        <a href="/Manage" class="link-bar-1">Hello @UserName!</a>
                        <div class="vlAuth"></div>
                        <a href="/Logout" class="link-bar-1">Logout</a>
                    }
                    else
                    {
                        <a href="/Login" class="link-bar-1">Login</a>
                        <div class="vlAuth"></div>
                        <a href="/Register" class="link-bar-1">Sign Up</a>
                    }
                    @*Cart Button*@
                    <NavLink href="/cart" class="link-bar-1">
                        <img src="Data/Cart.jpg" class="shopping-cart-icon-1" alt="Cart" />
                    </NavLink>
                </div>
            </div>
        </div>
</nav>

@code {
    private string UserName { get; set; }
    private bool isNavbarCollapsed = true; // Toggle state for the navbar

    private bool IsUserSignedIn()
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            UserName = UserManager.GetUserName(user);
            return true;
        }
        return false;
    }

    private void ToggleNavbar()
    {
        isNavbarCollapsed = !isNavbarCollapsed;
    }
}
