@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="centerWrapFull">
    <div style="display:block;">
    <h2>Manage your account</h2>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
